<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
 

  
  
    <servlet>
  	<!-- reference name of the servlet in the web.xml -->
  	<servlet-name>JSONLoginServlet</servlet-name>
  	<!-- the class path to the servlet class -->
  	<servlet-class>com.project1.servlet.JSONLoginServlet</servlet-class>
  </servlet>
  <!-- next we mapp the servlet to a specific URI -->
  <servlet-mapping>
  		<servlet-name>JSONLoginServlet</servlet-name>
  		<url-pattern>*.change</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<!-- reference name of the servlet in the web.xml -->
  	<servlet-name>ReimbursementSubmitServlet</servlet-name>
  	<!-- the class path to the servlet class -->
  	<servlet-class>com.project1.servlet.ReimbursementSubmitServlet</servlet-class>
  </servlet>
  <!-- next we mapp the servlet to a specific URI -->
  <servlet-mapping>
  		<servlet-name>ReimbursementSubmitServlet</servlet-name>
  		<url-pattern>*.reim</url-pattern>
  </servlet-mapping>
   
  
  
  
</web-app>